/*Default Frontpage CSS for Products*/

body.product{color:#515154;}

body.product .content-wrapper { 
	width: 96%; 
	margin: 80px auto 40px auto; 
	text-align:left;
}


#overview #ov-content{
	width:960px;
	margin:0 auto;
	position:relative;
}

#overview{
	margin-top:79px;
	min-height:500px;
	background-position:top center;
}

#overview #ov-content #ov-text{
	line-height:1.25em;
	color:#007DC3;
}



#prod-content{
	background: #0a71d1; /* Old browsers */
	background: -moz-linear-gradient(top,  #0a71d1 0%, #0ba0ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a71d1), color-stop(100%,#0ba0ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0a71d1 0%,#0ba0ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0a71d1 0%,#0ba0ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0a71d1 0%,#0ba0ed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0a71d1 0%,#0ba0ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a71d1', endColorstr='#0ba0ed',GradientType=0 ); /* IE6-9 */
	
/* 	background-color:#007DC3; */
	font-size:14px;
	line-height:20px;
	text-shadow:0 -1px 2px #666;
	color:#FFF;
	border-top:1px solid #2797ff;
}

#prod-content #body-wrapper{
	position:relative;
	max-width:1024px;
	margin: 0px auto;
/* 	padding:40px 0;	 */
}






/*Packages Nav and container*/
#package{
	color:black; text-shadow:none;
	overflow:hidden;
	line-height:1.25em;
}


ul#pack-nav{
	clear:both;
/* 	background:#999; */
	margin:0 40px; padding-top:20px;
	border-bottom:1px dotted #CCC;;
}

ul#pack-nav li{
	float:left;
	margin:10px 20px 10px 0;
	font-size:1.25em;
	font-weight:bold;
	padding:5px;
}

ul#pack-nav li.current a{
	color:#007CC3;
}

ul#pack-nav li.bundle-nav{
	background:#007CC3; 
	float:right;
	border-radius:5px;
}
ul#pack-nav li.bundle-nav:hover {background:#007C20}
ul#pack-nav li.bundle-nav a{color:#FFF; font-weight:normal;}






div.pack-container{margin:0 40px;}
div.pack-container .data{
	margin:20px 0;
	width:30%;
	font-size:.9em;
	color:#999;
}

div.pack-container .data h3, div.pack-container .data p{margin-bottom:10px;}
div.pack-container .data p{line-height:1.5em;}

div.pack-container .packs{width:65%;margin:20px 0;}

div.pack-container .packs .pack-item{
	min-width: 160px;
	max-width:192px; 
	width:30%;
	box-shadow:0 0 2px #999; 
	margin:0 5px 10px 5px;
	color:#222; 
	text-shadow:0 -1px 1px #FFF;
	background:#0bc4ee; border-radius:5px;
}

.pack-name, .pack-price{
	padding:5px 0;
	text-align: center;
}
.pack-name{border-bottom:1px dotted #FFF; margin:5px; color:#222; }
.pack-price{border-top:1px dotted #FFF; margin:10px;}








/* Package Info Table */
#package{
	position:relative;
	
	width:100%;
	min-height:300px;
	background:#FFF;
	border-radius:5px;
	box-shadow:0 0 10px rgba(0,0,0,.5);
}

table.package-list{
	width:100%;
	margin:40px 0;	
	
	border-collapse:separate;
	border-spacing:5px 15px;
}

table.package-list .list-footer{
	background:#EFEFEF;
}

table.package-list th, table.package-list td{
	background:#007DC3;
	margin:10px; padding:5px 2px;
}



/* Terms */
#toc{
	text-shadow:none; 
	margin:-20px auto 0 auto;
/* 	border:1px solid #CCC;  */
	border-radius:0 0 5px 5px; 
	padding:10px 0; 
/* 	background:rgba(255,255,255,.85); */
	background:#222;
	width:98%;
}

#cs-support{text-align:center; width:25%; margin:40px 20px 20px 20px;}
#cs-support *{color:#FFF;}
#terms{margin:40px 20px 20px 20px; font-size:12px; width:500px; color:#FFF; float:left;}
#terms ul{margin-left:20px;}
#terms ul li{list-style-type:square;}




/* Bundle Widget */
#prod-content #bundle{height:auto;}
#bundle.pack-container{
	background:none;
	color:#FFF;
	margin-bottom:20px;
}

#bundle.pack-container #container{
	margin:0 40px;
}

#bundle.pack-container #container.bundle-default{background: #0BC4EE; border-radius:5px;}



