/*Default Frontpage CSS for Products*/

body.product{color:#515154;}

body.product .content-wrapper { 
	width: 96%; 
	margin: 80px auto 40px auto; 
	text-align:left;
}


#overview #ov-content{
	width:960px;
	margin:0 auto;
	position:relative;
}

#overview{
	margin-top:79px;
	min-height:500px;
	background-position:top center;
}

#overview #ov-content #ov-text{
	line-height:1.25em;
	color:#007DC3;
}



#prod-content{
	background: #0a71d1; /* Old browsers */
	background: -moz-linear-gradient(top,  #0a71d1 0%, #0ba0ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a71d1), color-stop(100%,#0ba0ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0a71d1 0%,#0ba0ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0a71d1 0%,#0ba0ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0a71d1 0%,#0ba0ed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0a71d1 0%,#0ba0ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a71d1', endColorstr='#0ba0ed',GradientType=0 ); /* IE6-9 */
	
/* 	background-color:#007DC3; */
	font-size:14px;
	line-height:20px;
	text-shadow:0 -1px 2px #666;
	color:#FFF;
	border-top:1px solid #2797ff;
}

#prod-content #body-wrapper{
	position:relative;
	max-width:1024px;
	margin: 0 auto;
	padding:40px 0;	
}













/* Package Info Table */
#package{
	position:relative;
	top:-20px;
	
	width:100%;
	min-height:300px;
	background:#FFF;
	border-radius:5px;
	box-shadow:0 0 10px rgba(0,0,0,.5);
}

table.package-list{
	width:100%;
	margin:40px 0;	
	
	border-collapse:separate;
	border-spacing:5px 15px;
}

table.package-list .list-footer{
	background:#EFEFEF;
}

table.package-list th, table.package-list td{
	background:#007DC3;
	margin:10px; padding:5px 2px;
}