/*Default Frontpage CSS for Products*/

body.product{color:#515154;}
body.product .content-wrapper { width: 96%; margin: 80px auto 40px auto; text-align:left;}

/* Package Info Table */
#package{
	
}

table.package-list{
	width:100%;
	margin:40px 0;	
	
	border-collapse:separate;
	border-spacing:5px 15px;
}

table.package-list .list-footer{
	background:#EFEFEF;
}

table.package-list th, table.package-list td{
	background:#007DC3;
	margin:10px; padding:5px 2px;
}