@import 'reset.css';
@import 'typo.css';
@import 'scrollbar.css';

/* General */


.coming-soon{
	position:relative;
	margin:0 auto;
	width:90%;
}

.rotate{
	/* Safari */
	-webkit-transform: rotate(-90deg);
	
	/* Firefox */
	-moz-transform: rotate(-90deg);
	
	/* IE */
	-ms-transform: rotate(-90deg);
	
	/* Opera */
	-o-transform: rotate(-90deg);
	
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.left{float:left !important;}

.right{float:right !important;}

.clear{clear:both;}

.clearfix:after{content: "."; display: block; height: 0; clear: both;  visibility: hidden;}

.list-inline li{display:inline; margin:0 10px}

.hide{display:none}

body{background:#FFF}

.wrapper{width:100%; margin:0 auto;}

footer{margin-top:40px;}


div.input{margin:0; padding:0; width:auto;}
form input, form textarea, form select{border:1px solid #DDD; padding:8px 10px; border-radius:3px; font-family:"Arial", Helvetica, Tahoma, sans-serif; color:#333; font-size:12px}
form input:focus, form textarea:focus{border:1px solid #39C; box-shadow:0 0 3px #39C;}
form label{color:#888; font-size:13px;}

small{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:11px;
}


.ads{
	background: none repeat scroll 0 0 #FFFFFF;
    height: 200px;
}

/* --------------------------------------------Header------------------------------------- */

header{
	background-color:rgba(255,255,255,0.95);
/* 	box-shadow:1px 0 1px #999; */
	position:fixed; top:0; left:0;
	height:80px;
	z-index:99999;
}

/* Site Logo */
header #logo{width:120px; height:38px; float:left; margin:20px 40px 20px 20px;}
header #logo h1 {
	width:120px; height:38px; 
	background-image:url(../img/themes/innovate.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}
header #logo h1 a{display:block; text-indent:-9999px;}

/* Nav */

#navigation{width:80%; margin-top:31px; float:right}
#navigation #menu{margin:0; padding:0}

#navigation #menu ul#main-menu{
	position:relative;
	list-style: none outside none
	margin:0; padding:0;	
}

#navigation #menu ul#main-menu > li{
	position:relative;
	list-style: none outside none;
	float:left;
	margin:0 20px 0 0;	
}

#navigation #menu ul#main-menu > li:hover a, #navigation #menu ul#main-menu > li.current a{
	color:#333;
}

#navigation #menu ul#main-menu li a{
	color: #39C;
    display: block;
	font-size:15px;
    float: none;
    line-height: 19px;
    padding: 15px 10px;
    text-decoration: none;
/*  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); */
}

#navigation #menu ul#main-menu li.has_children > a:after{
	border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #39C;
    content: "&darr";
    display: inline-block;
    height: 0;
    margin-left: 4px;
    margin-top: 8px;
    opacity: 0.5;
    overflow: hidden;
    text-indent: -99999px;
    vertical-align: top;
    width: 0;
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown{
	display:none;
/* 	background: rgba(51,153,204,.95); */
	min-width:180px;
	max-width:240px;
	overflow:hidden;
	position:absolute;
	z-index:1;
	border-top: 1px solid #999;
	box-shadow:0 1px 3px rgba(0,0,0,.35);
	opacity:.95;
	border-radius: 0 0 5px 5px;
	
	background: #005099; /* Old browsers */
	background: -moz-linear-gradient(top,  #005099 0%, #2989d8 15%, #51a3cc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005099), color-stop(15%,#2989d8), color-stop(100%,#51a3cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #005099 0%,#2989d8 15%,#51a3cc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #005099 0%,#2989d8 15%,#51a3cc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #005099 0%,#2989d8 15%,#51a3cc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #005099 0%,#2989d8 15%,#51a3cc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005099', endColorstr='#51a3cc',GradientType=0 ); /* IE6-9 */
		
}

#navigation #menu ul#main-menu li.has_children:hover > ul.dropdown{
/* 	display:block; */
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown li:first-child{
	border-top:none;
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown li{
	margin:0;
	padding:0;
/* 	border-top:1px solid rgba(0,0,0,.35); */
	border-bottom:1px solid rgba(255,255,255,.35);
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown li:last-child{
	border-bottom:none;
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown li a{
	color:#FFF;
	font-size:13px;	
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown li:hover{
	background:#333;
}


/* Breadcrumbs */
#breadcrumbs{
	background:#EFEFEF; 
/* 	border-bottom:1px dotted #999;*/
	position:relative;
	margin:0 auto; padding:10px 0;
	padding-left:20px;	
	color:#999;
}

#breadcrumbs *{
	font-family:Helvetica, Arial, Tahoma, sans-serif;
	font-size:11px;
	font-weight:bold;
}

#breadcrumbs .current{
	color:#39A;
}



/* --------------------------------------------Content------------------------------------- */

#content{margin-top:0; background:none}
.home #content{margin-top:80px; min-height:390px; background:#EFEFEF}

#body-theme{
	width:100%; 
	margin:0 auto;  
/* 	background:#49E;	 */
}

#body-wrapper{clear:both; width:90%; margin:0 auto; padding:80px 0 40px 0;}

.featured{margin:0 auto;}
.featured h4{
	color:#999;
/* 	text-shadow:0 -1px 0 #AAA; */
}

.home #body-wrapper{
	width:90%;
	position:relative; 
	margin:0 auto 0 auto; 
	z-index:9000;
	padding-top:0;
}

.mod-epg{
	padding:0;
	width:99%;
	margin:-20px 0 0 0;
}

.mod-epg>h4{
	font-size:18px;
	font-weight:normal;
	margin:20px 0 5px 10px;
	width:160px;
	color:#666;
	text-shadow:0 -1px 1px rgba(255,255,255,.5);
	background:#CCC;
	position: relative;
	top:112px; left:-108px;
	text-align:center;
	
	padding:3px 5px;
	border-radius:5px 5px 0 0;
}


/* Promo Slideshow */
.orbit-slider{
	width:100%;
	height:400px;
}

.orbit-bullets {
	bottom:-12px;
	border:1px solid #DDD;
}



/* Utility in Homepage */
#utils{padding:0; margin:40px auto 0 auto; width:85%; line-height:1em;}
#utils .util-item{float:left; width:25%; text-align:center; background-size:100% auto; display: block; cursor:pointer}
#utils .util-item.last{border-right:none;}
#utils .util-item img{width:120px; height:120px;}

#webselfcare.util-item {
/* 	background-image: url(../img/selfcare.png); */
/* 	background-repeat: no-repeat; */
/* 	background-position: center center; */
}

#epg.util-item {
/* 	background-image: url(../img/epg.png); */
/* 	background-repeat: no-repeat; */
/* 	background-position: center center; */
}

#comparison.util-item {
/* 	background-image: url(../img/comparison.png); */
/* 	background-repeat: no-repeat; */
/* 	background-position: center center; */
}

#hotline.util-item {
	
}


/* Sticker */
.sticker{position:fixed; z-index:9999}

#berlangganan{
	width:100%;	
	text-align:right;
	margin:5px 0 0 0; padding:0;
}

#berlangganan a{
	color:#FFF; 
	margin-right:40px; padding:5px 10px 5px 10px; 
	font-size:16px;
	background:#C00;
	
	border-radius:0 0 5px 5px;
	border-top:1px solid rgba(0,0,0,.25);
	border-bottom:1px solid rgba(255,255,255,.5);
}

#berlangganan a:hover{background:#F00;}






/*-------------------------- Product Page Style ----------------------*/


#packages{width:90%; margin:40px auto 80px auto; font-size:14px;}

.tabs{margin:40px 0;}

.content{
	width:96%;
	margin:20px auto;
	color:#EFEFEF;
	background:#007DC3;
	padding:2%;
	border-radius:10px;
}
	
ul.tab-menu{list-type:none; border-bottom: 5px solid #0bc4ee; width:100%; padding:10px 0;}
ul.tab-menu li{display:inline; margin:0; padding:5px; margin-right:30px;}

ul.tab-menu li a{font-size:24px; font-weight:bold; color:#0bc4ee;}
ul.tab-menu li a:hover, ul.tab-menu li a.current{color:#007DC3;}

div.tab-content{width:100%; padding:0; display:none;}
div.tab-content.active{display:block;}

div.info{width:35%; float:left; margin:0 10px;}
div.info p{width:100%; margin:10px 0; color:#007DC3; font-size:14px; font-weight:normal;}
div.info p em{font-weight:bold; font-style:normal;}



/*------------------------------------------------*/

.toc{color:#717174; font-size:1em;}

.toc h4{font-size:18px; font-weight:bold; margin:10px;}
.toc ul {margin:10px 10px 20px 0; list-style-type:none;}
.toc ul li{margin:5px 10px; font-family:"Helvetica", Arial, Tahoma, sans-serif; font-size:12px; font-weight:normal;}

/*------------------------------------------------*/
div.price{width:60%; float:right; font-family: "Arial", Helvetica, Tahoma, sans-serif; font-size:12px}

table#packages-detail{text-align:center; border-spacing:0 5px; width:75%; margin:20px auto;}
table#packages-detail th, table#packages-detail td{vertical-align:middle; padding: 5px 0; font-size:1.25em; color:#717174;}

table#packages-detail thead{text-align:center; }
table#packages-detail thead th{text-align:center; font-size:18px; font-weight:bold; color:#007DC3; border-bottom:2px solid #0bc4ee;}

table#packages-detail .table-item{width:40%; text-align:left;}
table#packages-detail tr.odd td{}
table#packages-detail tr.even td{background:#CBEDFE;}
table#packages-detail td.left{text-align:left;}
table#packages-detail td.center{text-align:center;}
table#packages-detail td.right{text-align:right;}

table#packages-detail .price td{color:#007DC3; border-top:2px solid #0bc4ee; font-weight:bold}
table#packages-detail .amount{font-weight:bold; font-size:18px}

#bundle{width:100%; height:200px; margin:20px 0; background:#EFEFEF; display:none;}




/* -------------------------------------- Subscribe Page ----------------------------------- */


body.subscribe{
	background-image:url(../img/subscribe.jpg);
	background-repeat:no-repeat;
	background-position: bottom center;
}

body.subscribe #content{
	min-height:500px;	
}





/* --------------------------------------------Footer------------------------------------- */

footer{width:100%; background:#111; margin:0; padding:0; border-top:1px solid #333;}

#footer-theme{width:90%; margin:0 auto;}

.footer-menu{
	float:left;
	margin:40px 20px 20px 20px;
}

.footer-menu h4{
	color:#29ABE1;
	text-shadow:0 -1px 1px rgba(255,255,255,.25);
	font-size:16px;
	font-weight:normal;
}

.footer-menu ul{font-size:12px;}
.footer-menu ul li a{color:#999;}
.footer-menu ul li a:hover{color:#FFF;}
.footer-menu ul li{
	margin:0 0 0 0; padding:5px 0;
	border-top:1px solid #222;
	border-bottom:1px solid #000;
}
.footer-menu ul li:first-child{border-top:none;}
.footer-menu ul li:last-child{border-bottom:none;}

#social{
	color:#999;
}

a.social-links{
	display:block;
	float:left;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;
	width:24px; height:24px;
}

a#twitter{background-image:url(../img/twitter.png)}
a#twitter:hover{background-image:url(../img/twitter-color.png)}
a#fb{background-image:url(../img/fb.png)}
a#fb:hover{background-image:url(../img/fb-color.png)}
a#pinterest{background-image:url(../img/pinterest.png)}
a#pinterest:hover{background-image:url(../img/pinterest-color.png)}

#sinarmas{margin-top:0; padding:5px 10px 0 10px; border:1px solid #000; border-radius:10px; box-shadow: inset 0 0 2px rgba(255,255,255,.15);}
#copy{font-size:11px; color:#CCC; margin-top:10px}

/* .footer-menu{} */
/* .footer-menu ul{margin:0 20px; float:left} */
/* .footer-menu ul li.group-header{margin:0 4px 0 0; padding:0; font-size:18px;} */
/* .footer-menu ul li{margin:0 4px 0 0; padding:0; font-size:12px;} */
/* .footer-menu ul li a{color:#FFF;} */
/* .footer-menu ul li a:hover{color:#39F; text-shadow:none;} */

/* footer p{margin:0; padding:10px 0; line-height:0;} */
/* footer #social{margin-right:20px; text-align:right;} */
/* footer #copy{margin-right:20px; font-size:12px; color:#CCC; font-family: "Arial", Helvetica, Tahoma, sans-serif; font-size:10px} */


