@import 'reset.css';
@import 'typo.css';

/* General */

.left{float:left;}
.right{float:right;}
.clearfix{clear:both;}
.list-inline li{display:inline; margin:0 10px}
.hide{display:none}

/* Wrappers */

#pageWrapper { width: 75%; margin: 0 auto; }
.partial-wrapper { width: 98%; height: 80px; margin: 0 1%;}
body .content-wrapper { width: 96%; margin: 20px auto; text-align:left;}
.content-wrapper.scroll {overflow:hidden}

/* Header */
.partial-wrapper header {padding-top:20px;}

/* Logo */
header #logo{width:160px; height:50px; float:left;}
header #logo h1 {width:160px; height:50px; background:url(../img/themes/innovate.png) no-repeat center center;}
header #logo h1 a{display:block; text-indent:-9999px;}

/* -------------------------------Navigation-------------------------- */
.partial-wrapper header #navigation{}

/* Main Menu */
header #navigation #menu{margin-top:30px}
header #navigation #menu ul {margin-right:10px; }

header #navigation #menu ul#main-menu li{display:inline; margin:0; padding:3px 10px; position:relative;}
header #navigation #menu ul#main-menu li:hover {}
header #navigation #menu ul#main-menu li:hover a {color:#007dc3;}

header #navigation #menu ul#main-menu li a{font-size:1.2em; font-weight:bold; color:#717174;}
header #navigation #menu ul#main-menu li.current {}
header #navigation #menu ul#main-menu li.current a{color:#007dc3;}

header #navigation #menu ul#main-menu li.has_children ul.dropdown{position:absolute; left:10px; width:100%; display:none; z-index:2000;}
header #navigation #menu ul#main-menu li.has_children ul.dropdown li{display:list-item !important;}
header #navigation #menu ul#main-menu li.has_children ul.dropdown li a{font-size:0.85em; color:#717174;}
header #navigation #menu ul#main-menu li.has_children ul.dropdown li:hover a{font-size:0.85em; color:#007dc3;}

/* Personal/Business Section */
a.biz-section{height:20px; color:#C6C6C6; font-size:14px; margin-top:0; font-weight:bold;}
a.biz-section:hover{color:#007cc3; text-shadow:none;}
a.biz-section.active{color:#007cc3;}

/* User Login Area */
#users{height:20px; background:#007cc3; color:#FFF; font-size:11px; margin-top:3px; border-radius:20px; }
#users a{color:#FFF; margin:0 10px; font-size:12px}

/* Footer */
footer {margin:80px 20px 20px 20px;}
footer .footer-menu {float:left; width:128px;}
footer .footer-menu h5 {font-size:14px; color:#007cc3;}
footer .footer-menu ul {font-size:12px; margin-left:0px;}
footer .footer-menu ul li{margin:0px; padding:0;}
footer .footer-menu ul li a{color:#717174}
footer .footer-menu ul li a:hover{color:#007cc3}

#ack {clear:both;background:#007cc3;border-radius:5px;height:20px;}
#ack p{font-family: Helvetica Neue, Helvetica, Tahoma, sans-serif;font-size: 11px; color:#FFF; margin:2px 0 0 20px;}
#ack ul {margin:-5px 20px 0 0; padding:0; height:20px;}
#ack ul li{margin:0 0 0 10px; padding:0;}
#ack ul li a{font-family: Helvetica Neue, Helvetica, Tahoma, sans-serif;font-size: 11px; color:#FFF;}
#ack ul li a:hover{color:#FF0; text-shadow:none;}






/*-------------------------- FRONTPAGE STYLE ----------------------*/


#packages{width:90%; margin:40px auto 80px auto; font-size:14px;}

.tabs{margin:40px 0;}

.content{
	width:96%;
	margin:20px auto;
	color:#EFEFEF;
	background:#007DC3;
	padding:2%;
	border-radius:10px;
}
	
ul.tab-menu{list-type:none; border-bottom: 5px solid #0bc4ee; width:100%; padding:10px 0;}
ul.tab-menu li{display:inline; margin:0; padding:5px; margin-right:30px;}

ul.tab-menu li a{font-size:24px; font-weight:bold; color:#0bc4ee;}
ul.tab-menu li a:hover, ul.tab-menu li a.current{color:#007DC3;}

div.tab-content{width:100%; padding:0; display:none;}
div.tab-content.active{display:block;}

div.info{width:40%; float:left; margin:0 10px;}
div.info p{width:100%; margin:10px 0; color:#007DC3; font-size:14px; font-weight:normal;}
div.info p em{font-weight:bold; font-style:normal;}



/*------------------------------------------------*/

.toc{color:#717174; border:1px solid #cecece; border-radius:5px;}

.toc h4{font-size:18px; font-weight:bold; margin:10px;}
.toc ul {margin:10px 10px 20px 10px; list-style-type:none;}
.toc ul li{margin:5px 10px; font-family:"Helvetica", Arial, Tahoma, sans-serif; font-size:11px; font-weight:normal;}

/*------------------------------------------------*/
div.price{width:50%; float:right;}

table#packages-detail{text-align:center; border-spacing:0 5px; width:100%;}
table#packages-detail th, table#packages-detail td{vertical-align:middle; padding: 5px 0; font-size:14px; color:#717174;}

table#packages-detail thead{text-align:center; }
table#packages-detail thead th{text-align:center; font-size:18px; font-weight:bold; color:#007DC3; border-bottom:2px solid #0bc4ee;}

table#packages-detail .table-item{width:40%; text-align:left;}
table#packages-detail tr.odd td{}
table#packages-detail tr.even td{background:#CBEDFE;}
table#packages-detail td.left{text-align:left;}
table#packages-detail td.center{text-align:center;}
table#packages-detail td.right{text-align:right;}

table#packages-detail .price td{color:#007DC3; border-top:2px solid #0bc4ee; font-weight:bold}
table#packages-detail .amount{font-size:1.5em;}

#bundle{width:100%; height:200px; margin:20px 0; background:#007DC3;}












