@import 'reset.css';
@import 'typo.css';

/* General */

.left{float:left;}
.right{float:right;}

.clear{clear:both;}
.clearfix:after{clear:both;}

.list-inline li{display:inline; margin:0 10px}
.hide{display:none}

body{background:#FFF}
.wrapper{width:100%; margin:0 auto;}


/* --------------------------------------------Header------------------------------------- */
header{
	background-color:rgba(255,255,255,.75);
	box-shadow:3px 0 5px #999;
	position:fixed; top:0; left:0;
	/*border-top:5px solid #39C;*/
	height:60px;
	z-index:9999;
}

/* Site Logo */
header #logo{width:120px; height:38px; float:left; margin:10px 40px 10px 20px;}
header #logo h1 {
	width:120px; height:38px; 
	background-image:url(../img/themes/innovate.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}
header #logo h1 a{display:block; text-indent:-9999px;}

/* Nav */
div#navigation{float:right; margin:30px 20px 0 0;}
nav#menu{margin:0; padding:0;}
nav#menu ul{margin:0; padding:0; position:relative;}
nav#menu ul li{display:inline; margin:0; padding:3px 5px 3px 12px; text-align:center; position:relative;}
nav#menu ul li.last:after{content:none;}
nav#menu ul li a{position:relative; z-index:1; font-size:1em;}

nav#menu ul li.has_children:hover{/*background:#39C;*/}
nav#menu ul li.has_children:hover a{color:#FFF; text-shadow:0 0 2px rgba(255,255,255,.5);}

/* nav#menu ul li.has_children div.dropdown-wrapper{position:absolute; left:0; top:-10px; background:rgba(51,153,204,.95); width:100%; height:40px; border-radius:5px; border: 2px solid rgba(255,255,255,.25); box-shadow:0 0 2px #999; opacity:1; display:block;} */
nav#menu ul li.has_children div.dropdown-wrapper{
	position:absolute; 
	left:0;
	top:0px; 
	background:rgba(51,153,204,.95); 
	width:150px; 
	height:40px; 
	border-radius:5px; border: 2px solid rgba(255,255,255,.25); 
	box-shadow:0 0 2px #999; 
	opacity:0; 
	display:none;
}

/*nav#menu ul li.has_children:hover div.dropdown-wrapper{display:block;}*/

nav#menu ul li div.dropdown-wrapper ul { margin:40px 10px 10px 10px; }
nav#menu ul li div.dropdown-wrapper ul li{display: list; text-align:left; margin:0; padding:0; width:100%;}
nav#menu ul li.has_children div.dropdown-wrapper ul li a{color:#000; font-size:.85em; font-weight:normal;}
nav#menu ul li.has_children:hover div.dropdown-wrapper ul li:hover a{color:#FFF;}






/* --------------------------------------------Content------------------------------------- */

#content{margin-top:60px;}
#body-theme{width:95%; margin:40px auto}

#body-wrapper{clear:both; width:90%; margin:60px auto;}
.featured{ width:100%; margin:40px auto;}

/* --------------------------------------------Footer------------------------------------- */

footer{width:100%; background:#EFEFEF; padding:30px 0 10px 0}


.footer-menu ul{margin:0 20px; float:left}
.footer-menu ul li{display:inline; margin:0; padding:0;}
.footer-menu ul li:after{content:" | "; color:#999;}
.footer-menu ul li a{}

footer #copy{margin:0 20px; font-size:12px; float:right}


