
<div id="footer-theme" class="theme">
    <div class="footer-menu">
        <ul>
			{{ navigation:links group="footer" }}
        </ul>
    </div>
    <div class="right">
<!--     	<p id="social"> -->
<!--     		<a id="twitter" href="https://twitter.com/intent/follow?&screen_name=adriantrivano"><img src="{{ theme:image_path }}twitter.png" /></a> -->
<!--     		<a id="facebook" href="https://facebook.com/adriantrivano"><img src="{{ theme:image_path }}fb.png" /></a> -->
<!--     	</p> -->
    	<p id="copy">Copyright &copy; 2013 Innovate Indonesia. All Rights Reserved</p>	
    </div>
    
    <div class="clear"></div>
</div>


<!-- Begin scripts -->	
	{{ theme:js file="main.js" }}
<!-- End scripts -->