
<div id="footer-theme" class="theme">
    <div class="footer-menu">
        <ul>
            <li><a href="#">TV Guide</a></li>
            <li><a href="#">Coverage Area</a></li>
            <li><a href="#">Promo</a></li>
            <li><a href="{{ url:site }}contact">Contact</a></li>
        </ul>

<!-- 		{{ navigation:links group="footer" }} -->
    </div>
    
    <div id="copy">Copyright &copy; 2013 Innovate Indonesia. All Rights Reserved</div>
    <div class="clear"></div>
</div>


<!-- Begin scripts -->	
	{{ theme:js file="main.js" }}
<!-- End scripts -->