<!-- Slideshow HTML -->
<div id="mod-promo" class="orbit-slider">
	{{ promotion:featured }}
</div>
<!-- Slideshow HTML -->


<div id="body-wrapper">
	<div id="berlangganan">
		<a href="{{ url:site }}subscribe">Register Now</a>
	</div>
	
	<div class="mod-epg featured clearfix">
		<h4>Big Screen</h4>
		{{ epg:featured limit="11" category="Movies" }}
	</div>
	
	<div class="mod-epg featured clearfix">
		<h4>Movie Series</h4>
		{{ epg:featured limit="11" category="Movie Series" }}
	</div>

	{{ theme:partial name="home_utility" }}
</div>