<div id="utils" class="featured clearfix">
	<div id="webselfcare" class="util-item">
<!-- 		<h5>Webselfcare</h5> -->
	</div>
	<div id="epg" class="util-item">
<!-- 		<h5>TV Guide</h5> -->
	</div>
	<div id="comparison" class="util-item">
<!-- 		<h5>Comparison</h5> -->
	</div>
	<div id="hotline" class="util-item last">
		<p style="margin-top:40px; font-size:1.25em;">
			<strong>Customer's Hotline</strong><br/>
			<span style="font-size:1.5em; font-weight:bold; color:#39C; line-height:1.5em">[ 021 ] 3199 8600</span>
		</p>
		<p style="width:80%; margin:0 auto">Hubungi untuk pendaftaran atau informasi lebih lanjut mengenai layanan Innovate.</p>
	</div>
</div>