<!-- Slideshow HTML -->
<div id="mod-promo" class="orbit-slider">
	{{ promotion:featured }}
</div>
<!-- Slideshow HTML -->

<!-- <div id="announcment" class="running-text" style="padding:15px 0 5px 0; text-align:center; background:#EEE; color:#777; font-size:12px;"> -->
<!-- 	<marquee behavior="scroll" direction="left">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</marquee> -->
<!-- </div> -->

<div id="body-wrapper">
	<div id="berlangganan">
		<a href="{{ url:site }}subscribe">Register Now</a>
	</div>
	
	{{ epg:featured limit="11" category="Movies" }}

	{{ epg:featured limit="11" category="Movie Series" }}

	{{ theme:partial name="home_utility" }}
</div>