<style type="text/css">
	#recent-news{
		width:720px; margin:40px auto 0 auto;
		border-bottom:1px dotted #CCC;
		padding-bottom:20px;
	}
	
	#recent-news h2{color:#007DC3; margin-bottom:20px; padding:0; border-bottom:1px dotted #CCC; font-size:24px;}

	#recent-news article{
		float:left;
		width:320px;
		overflow:hidden;
		margin:0 20px;
	}
	
	#recent-news article img{width:100%}
</style>



<!-- Slideshow HTML -->
<div id="mod-promo" class="orbit-slider">
	{{ promotion:featured }}
</div>
<!-- Slideshow HTML -->

<ul id="ticker">
	<li>Saksikan puluhan saluran berkualitas lokal mancenegara di InnovateGO secara GRATIS</li>
	<li>Langganan Innovate sekarang, GRATIS biaya instalasi. Khusus paket Fun, Super, Festive, Amazing, dan Xtreme dapatkan BONUS GRATIS ala carte Sports dan Upgrade paket 1 tingkat di atas paket pilihan selama 3 bulan. Selama periode promosi</li>
	<li>Lorem ipsum dolor sit amet</li>
</ul>

<div id="body-wrapper">
	<section id="program-highlight" class="home-section">Program highlight</section>
	<section id="product-highlight" class="home-section">Products higjlight</section>
	<section id="news-twitter" class="home-section">News & Twitter</section>