.faq{color:#007DC3;}


.faq a{
	color:#0964BD;
}

.faq a:hover{
	color:#333;
}

.faq #body-wrapper{margin:40px auto 40px auto;}

#faq-side{
	position: relative; 
	width:25%;
}

h3#page-title {background:#333; padding:5px 0 5px 10px; color:#EEE; margin-bottom:20px; text-shadow:0 1px 1px #000;}
h3#page-title a{color:#0CE;}
h3#page-title a:hover{color:#FFF;}


/* SIDE */



/* #faq-side li{cursor:default; margin-left:20px;} */
/* #faq-side li.has-children{color:#0964BD;} */
/* #faq-side li.has-children:hover{color:#777;} */
/* #faq-side li.has-children ul{display:none; position:relative; margin:10px 0 0 0;} */
/* #faq-side li.has-children ul > li{margin:0 0 2px 0; padding:5px 10px; background:#EEE; width:160px; font-size:13px;} */
/* #faq-side li.has-children ul > li.has-children:after{content:" >>"; text-aling:right; display:block; float:right;} */
/* #faq-side li.has-children ul > li > ul {display:none; position:absolute; top:0; left:182px; z-index:9999;} */


#faq-side li{cursor:default; margin-left:20px;}
#faq-side li.has-children{color:#0964BD;}
#faq-side li.has-children:hover{color:#333;}

#faq-side li.has-children ul{display:none; position:relative; margin:0 0 0 0;}
#faq-side li.has-children ul > li{margin:0 0 1px 0; padding:5px 10px; background:#0964BD; width:160px; font-size:13px;}

#faq-side li.has-children ul > li:hover{background:#333;}
#faq-side li.has-children ul > li a, #faq-side li.has-children ul > li.has-children{color:#FFF;}

#faq-side li.has-children ul > li.has-children:after{content:" >>"; text-aling:right; display:block; float:right;}
#faq-side li.has-children ul > li > ul {display:none; position:absolute; top:0; left:181px; z-index:9999; margin:0;}











#item-list{
	position: relative; 
 	width:70%; 
	margin-left:20px;
}

.faq-item{
	width:100%;
	margin:20px 0; padding:0;
	border-left:3px solid #EEE;
}

.faq-item:first-child{border-top:none;}
.faq-item:last-child{border-bottom:none;}

.faq-subject{
	font-size:1.25em;
	margin:0 0 0 20px; padding:5px 0;
	font-weight:600;
	color:#007DC3;	
}

.faq-content{
	margin:0;
	line-height:1.2em;
}

.faq-q, .faq-a{
	margin:0px 20px; padding:5px 10px;
	font-size:.85em;
	color:#007DC3;	
		
	padding-left:28px;
	background-size:20px 20px;
	background-repeat:no-repeat;
}

.faq-q{
	background-image:url(../img/question.png);
	background-position:0 5px;	
}

.faq-a{
	background-image:url(../img/answer.png);
	background-position:0 10px;	
}

.faq-view-subject{
	margin:0; padding:5px 0;
	color:#666;	
}


.faq-content .faq-q{
	padding-bottom:10px;
}

.faq-content .faq-a {
	margin-bottom:20px;padding-top:10px;
	border-top:1px dotted #CCC;	
}

.faq-content .faq-a p, .faq-content .faq-a ul, .faq-content .faq-a ol{
	margin:0 0 20px 0; padding:0;
}

.faq-content .faq-a ul li, .faq-content .faq-a ol li{
	margin-left:20px;
}


.faq-content .faq-a ul li{
	list-style:square;
}