.faq{color:#007DC3;}


.faq a{
	color:#0CE;
}

.faq a:hover{
	color:#D226F9;
}

.faq #body-wrapper{margin:40px auto 40px auto;}

#faq-side{
	position: relative; 
	width:25%;
}

h3#page-title {background:#333; padding:5px 0 5px 10px; color:#EEE; margin-bottom:20px; text-shadow:0 1px 1px #000;}
h3#page-title a{color:#0CE;}
h3#page-title a:hover{color:#FFF;}


/* SIDE */
#faq-side li{
	margin-left:20px; padding-left:25px; 
	background-size:20px 20px;
	background-repeat:no-repeat;	
	background-position:0 5px;
}

#faq-side li:hover a, #faq-side li.active a{color:#D226F9;}

#faq-side.topics li{
	background-image:url(../img/topics.png);	
}

#faq-side.topics li:hover, #faq-side.topics li.active{
	background-image:url(../img/topics-active.png);
}

#faq-side.topics li{
	background-image:url(../img/topics.png);	
}

#faq-side.topics li:hover, #faq-side.topics li.active{
	background-image:url(../img/topics-active.png);
}

#faq-side.faq li{
	background-image:url(../img/question-blue.png);	
}

#faq-side.faq li:hover, #faq-side.faq li.active{
	background-image:url(../img/question.png);
}





#item-list{
	position: relative; 
 	width:70%; 
	margin-left:20px;
}

.faq-item{
	width:100%;
	margin:20px 0 40px 0; padding:0;
	border-left:3px solid #EEE;
}

.faq-item:first-child{border-top:none;}
.faq-item:last-child{border-bottom:none;}

.faq-subject{
	font-size:1.25em;
	margin:0 0 0 20px; padding:5px 0;
	font-weight:600;
	color:#007DC3;	
}

.faq-content{
	margin:0;
	line-height:1.2em;
}

.faq-q, .faq-a{
	margin:0px 20px; padding:5px 10px;
	font-size:.85em;
	color:#007DC3;	
		
	padding-left:28px;
	background-size:20px 20px;
	background-repeat:no-repeat;
}

.faq-q{
	background-image:url(../img/question.png);
	background-position:0 5px;	
}

.faq-a{
	background-image:url(../img/answer.png);
	background-position:0 10px;	
}

.faq-view-subject{
	margin:0; padding:5px 0;
	color:#666;	
}


.faq-content .faq-q{
	padding-bottom:10px;
}

.faq-content .faq-a {
	margin-bottom:20px;padding-top:10px;
	border-top:1px dotted #CCC;	
}

.faq-content .faq-a p, .faq-content .faq-a ul, .faq-content .faq-a ol{
	margin:0 0 20px 0; padding:0;
}

.faq-content .faq-a ul li, .faq-content .faq-a ol li{
	margin-left:20px;
}


.faq-content .faq-a ul li{
	list-style:square;
}