/* -------- General ---------- */

body{
	color:#444;
	font-size:12px;
	line-height:20px;
}

body a{color:#007DC3;}
body a:hover{color:#CCC;}

#content{margin:120px auto 80px auto;}

#art-section{
	font-size:18px;
	font-weight:bold;
	border-bottom:1px solid #CCC;
	margin-bottom:20px;
	padding-bottom:5px;
}

#art-section a{font-size:14px;}

#art-content{
	margin:0 auto;
}

.art-property{margin:10px 0;}





/* -------- Article List ------------- */

body.articles #content{
	width:90%;
	height:auto;
}


body.articles article{
	width:22.5%; min-height:300px; max-height:300px;
	margin:0 1.25%;
	float:left;
}

#art-content .cover-container{
	width:100%;
	height:120px;
	overflow:hidden;
	text-align:center;
	box-shadow:0 0 2px #666;
}

#art-content .cover-container img{
	width:100%;
}


/* -------- Pagination ----------- */
.pagination{
	border-top:1px solid:#CCC;
}

.pagination ul li{
	display:inline;
	padding:0 10px;
	margin:0;
	border-right:1px solid #CCC;
}

.pagination ul li:last-child{
	border-right:none;
}



/* Mobile CSS */

@media screen and (max-width: 720px) {
	body.mobile #content{margin:80px auto 40px auto;}
	body.articles.mobile article{float:none; width:100%; min-height:auto; margin-bottom:20px;}
	body.articles.mobile article:after{content: "."; display: block; height: 0; clear: both;  visibility: hidden;}
	body.articles.mobile #art-content  article .cover-container{width:20%; height:80px ; margin-right:5%; float:left;}
	body.articles.mobile .art-title, body.articles.mobile .art-teaser{margin:0 0 10px 0 !important;}
	body.articles.mobile #art-content  article .art-teaser{width:100%;}
	
	body.full-article.mobile #art-content{width:90%; margin:0 auto;}
}